{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class = 'row row-offcanvas flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-6"><p class="lead">Genres</p></div>
                <div class="col-md-6 text-right"><a href="{{url_for('newGenre')}}">
                    <button class="btn btn-success btn-outline" role="button">Add Genre</button>
                </a></div>
            </div>
            <div class="list-group">
                {% for genre in genres %}
                    <a href="{{url_for('showGenreBooks', genre_name=genre.name)}}" class="list-group-item">{{genre.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="no-margin">Latest Books</h2>
                    </div>
                    <div class="col-md-8 text-right">
                        <a href="{{url_for('newBook')}}"><button class="btn btn-success btn-outline"
                                                                             role="button">Add Book</button></a>
                    </div>
                </div>
                <hr>
                <div class="row is-flex">
                    {% for i in books %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="gallery">
                                <img class="img-responsive" src="{{ i.image }}" alt="{{ i.name }}">
                                <h4 class="text-center">{{i.name}}</h4>
                                <div class="text-center">
                                <p><a class="btn btn-default" href="{{url_for('showBook', genre_name=i.genre.name, book_name=i.name)}}" role="button">View details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 

{% endblock %}